params {
  max_cpus = 8
  max_memory = 32.GB
  max_time = 3.h

  csv = "${baseDir}/tests/test_ci.csv"
  genome = 'GRCh38'
  fasta = 's3://ampatchlab/TestData/isoseq/reference/GRCh38.primary_assembly.genome.fa.gz'
  gtf = 's3://ampatchlab/TestData/isoseq/reference/gencode.v32.primary_assembly.annotation.gtf.gz'
}
