process {

  withLabel: 'bax2bam' {
    conda = 'bax2bam=0.0.9=h018d624_7'
  }

  withLabel: 'isoseq3' {
    conda = 'isoseq3=3.1.2=0'
  }

  withLabel: 'lima' {
    conda = 'lima=1.10.0=0'
  }

  withLabel: 'minimap2' {
    conda = 'minimap2=2.17=h8b12597_1'
  }

  withLabel: 'pbbam' {
    conda = 'pbbam=1.0.6=hc16d5b3_1'
  }

  withLabel: 'pbccs' {
    conda = 'pbccs=3.4.1=0'
  }

  withLabel: 'pbcoretools' {
    conda = 'pbcoretools=0.2.4=py27_4'
  }

  withLabel: 'samtools' {
    conda = 'samtools=1.9=h8571acd_11'
  }
}
