process {

  container = 'ubuntu:18.04'

  withLabel: 'bax2bam' {
    container = 'quay.io/biocontainers/bax2bam:0.0.9--h018d624_7'
  }

  withLabel: 'isoseq3' {
    container = 'quay.io/biocontainers/isoseq3:3.1.2--0'
  }

  withLabel: 'lima' {
    container = 'quay.io/biocontainers/lima:1.10.0--0'
  }

  withLabel: 'minimap2' {
    container = 'quay.io/biocontainers/minimap2:2.17--h8b12597_1'
  }

  withLabel: 'pbbam' {
    container = 'quay.io/biocontainers/pbbam:1.0.6--hc16d5b3_1'
  }

  withLabel: 'pbccs' {
    container = 'quay.io/biocontainers/pbccs:3.4.1--0'
  }

  withLabel: 'pbcoretools' {
    container = 'quay.io/biocontainers/pbcoretools:0.2.4--py27_4'
  }

  withLabel: 'samtools' {
    container = 'quay.io/biocontainers/samtools:1.9--h8571acd_11'
  }
}
